* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;  
    overflow-x: hidden;
  }

  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

  .box {
    width: 1440px;
    height: 1024px;
  }

  .top {
    width: 1440px;
    background-image: url(./img/Rectangle\ 1.png);
    height: 1024px;
    background-size: cover;
    background-position: center;
  }

  .games {
    width: 1440px;
    background-image: url(./img/Rectangle\ 5.png);
    background-size: cover;
    height: 556px;

  }

  .time__of__year {
    width: 1440px;
    background-image: url(./img/Rectangle\ 6.png);
    height: 800px;
    overflow: auto;
    position: relative;
    display: flex;
  }

  .text_timeofyear{
  display: flex; /* Делаем этот div тоже флекс-контейнером */
  flex-direction: column; /* Устанавливаем направление в колонку */
  padding-left: 120px;
  padding-top: 282px; 
}

  .top__subtitle {
    height: 125.01px;
    left: 120.22px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    padding-top: 128px;
  }

  .top__subtitle2 {
    width: 377px;
    height: 59px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    text-align: left;
    color: #FFFFFF;
  }

  .top__title {
    height: 64px;
    left: 120.22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    padding-top: 374.11px;
    display: block;
  }

  .top__title2 {
    width: 584px;
    height: 64px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 32px;
  }

  .topgo__button_go{
    width: 234.06px;
    height: 48.6px;
    border-radius: 30px;
    background: #9C0332;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    color: #FFFFFF;
    margin-top: 482.11px;
    margin-left: 120px;
  }

  .topgo__button_go2{
    width: 234.06px;
    height: 48.6px;
    border-radius: 30px;
    background: #9C0332;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    color: #FFFFFF;
    margin-top: 32px;
  }

  .absolute-image{
    position: absolute; /* Абсолютное позиционирование для изображения */
    right: 116px; /* Отступ от правой части блока */
    width: 485px; /* Установите желаемую ширину изображения */
    padding-top: 233.5px;  }

  .games__link_1 {

  }

  .games__link_2 {

  }

  .games__link_3 {

  }
  .style-img1{
    padding-top: 128px;
    padding-left: 120px;
    margin-bottom: 128px;
    padding-right: 32px;
  }

  .style-img2{
    padding-top: 128px;
    margin-bottom: 128px;
    padding-right: 32px;
  }

  .style-img3{
    padding-top: 128px;
    margin-bottom: 128px;
  }

  .span {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
  }

@media (max-width: 767px) {

  .top{
  width: 375px;
  height: 735px;
  }

  .topgo__button_go{
    margin-left: 70.47px;
    margin-top: 447.7px;
  }

  .games{
    max-width: 375px;
    height: 1221px;
  }

  .top__subtitle{
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: center;
  width: 343px;
  height: 77.44px;
  padding-top: 238.69px;
  left: 16px;
  max-width: 767px;
  right: 16px;
  word-wrap: break-word;
  }

  .top__title{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    width: 343px;
    height: 66px;
    padding-top: 349.08px;
    left: 16px;
    max-width: 767px;
    right: 16px;
  }

  

  .games__link_1{
    padding-bottom: 0px;
    width: 343px;
  }

  .games__link_2{
  padding: 0;
  width: 343px;
  }

  .games__link_3{
  padding-top: 0px;
  width: 343px;
  }

  .time__of__year{
    width: 375px;
    height: 653.61px;
   }

   .text_timeofyear{
    padding-left: 16px;
    padding-top: 51px;
   }

  .top__subtitle2{
    width: 249px;
    height: 39px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: center;
    padding-left: 46px;
        
    }

    .top__title2{
      width: 343px;
      height: 66px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      text-align: center;      
    }

    .absolute-image{
      right: 16px;
      left: 16px;
      padding-top: 332.6px;
      width: 344px;
    }

    .style-img1{
      width: 343px;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 32.29px;
    }

    .style-img2{
      width: 343px;
      padding-top: 0px;  
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 32.84px;
    }
    .style-img3{
      width: 343px;
      margin-bottom: 127.87px;
      padding-top: 0px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .topgo__button_go2{
      left: 70px;
      position: sticky;
    }
  }

/*# sourceMappingURL=style.css.map */